:global {

  .extract-container {
    padding: 5px;
    display: block;
    background-color: ghostwhite;
    border-radius: 5px;
    margin: 20px auto;
    width: 60%;
  }

  .extract {
    overflow: hidden;
  }

  .switch {
    float: right;
    margin: .1em;
  }

}
