.t-ellipsis(@lines) {
    overflow:hidden;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: @lines;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.layout2 {

    :global {
        .hole {
            overflow: scroll;
            width: 10%;
            height: 10vh;
            display: block;
            background-color: #66ccff;
            border-radius: 5px;
            margin: 20px auto;
        }
        .extract-container {
            padding: 5px;
            display: block;
            background-color: ghostwhite;
            border-radius: 5px;
            margin: 20px auto;
            width: 60%;
        }
        .extract {
            overflow: hidden;
        }
        .switch {
            float: right;
            margin: .1em;
        }
        .mlt {
            .t-ellipsis(3);
        }
    }
}

